*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  /*  gotta use rem */
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', 'Helvetica', 'Helvetica Neue', Arial, sans-serif;
}

ul {
  list-style-type: none;
}