/* links & buttons */
a,
button {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  font-weight: 700;
}

button {
  border: none;
  background-color: transparent;
}

button:active,
button:focus {
  outline: none;
}



.link,
.btn {
  opacity: .8;
  transition: all .3s ease-in-out;
}

.link:hover,
.btn:hover {
  opacity: 1;
}

.btn {
  & > * {
    pointer-events: none;
  }
  &--blue {
    background-color: var(--blue);
    color: var(--white);
  }

  &--red {
    background-color: var(--red);
    color: var(--white);
  }

  &--green {
    background-color: var(--green);
    color: var(--white);
  }

  &--orange {
    background-color: var(--orange);
    color: var(--white);
  }

  &--big {
    padding: 1.5rem 2rem;
    font-size: 1.4rem;
    border-radius: 8px;
  }

  &--small {
    padding: .8rem 1.3rem;
    font-size: 1rem;
    border-radius: 8px;
  }

  &-icon {
    display: flex;
    align-items: center;
    &:hover i {
      transform: translateY(-1px);
    }
  }

  &-icon i {
    font-size: 1.8rem;
    color: inherit;
    transition: all .3s ease;
  }

  &-icon span {
    font-size: 1.3rem;
    margin-left: 1.5rem;
  }
}