:root {
  --black: #1C1E22;
  --white: #ffffff;
  --gray--light: #D8D8D8;
  --blue: #4A90E2;
  --blue--dark: #485774;
  --red: #FF566A;
  --green: #81C342;
  --orange: #F5A623;
  --color-primary: #3B141E;
  --color-primary--dark: #311119;
  --color-primary--light: #511C29;
  --color-gray: #D8D8D8;
  --color-gray--light: #F3F3F3;
  --color-orange: #F26430;
  --color-lightBlue: #93B7BE;
  --color-white: #ffffff;
  --color-black: #000000;
}